<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/bdd557dbf5.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
        <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
        <title>API</title>
    </head>
    <body> 
        <nav class="navbar">
            <i class="fa fa-bars" style="transform: scale(1.5, 1);"></i>
            <i class="fa fa-child" style="position: relative; left: 95px; display: inline-block; font-size: 45px; margin-top: 10px; color: green;"></i>
            <h3>HỆ THỐNG</h3>
            <h4>QUẢN LÝ PHƯƠNG TIỆN</h4>
            <input type="text" placeholder="Tim kiem" >
            <i class="fas fa-search" style="left: 900px; margin-top: 20px;"></i>
            <i class="far fa-bell" style="left: 1100px"></i>
            <i class="far fa-user-circle" style="left: 1150px; display: inline-block;"></i>
            <p>lengoc</p>

        </nav>

        <nav class="sidebar">
            <a class="icon">
                <i class="fas fa-home" style="color: white;"></i>
                <span style="color: white">asasdasdasd</span>
            </a>
            <a class="icon" href="#">
                <i class="fas fa-home"></i>
                <span>Trang chủ</span>
            </a>
            <a class="icon" href="#">
                <i class="fas fa-random"></i>
                <span>Tuyến xe</span>
            </a>
            <a class="icon" href="#">
                <i class="fas fa-clipboard-list"></i>
                <span>Điểm đón</span>
            </a>
            <a class="icon" href="#">
                <i class="fas fa-users"></i>
                <span>Học sinh theo xe</span>
            </a>
            <a class="icon" href="#">
                <i class="fas fa-sign-out-alt"></i>
                <span>Đăng xuất</span>
            </a>
        </nav>

        <div class="header" style="z-index: 1000;">
            <div class="topTable">
                <input type="text" placeholder="Tim kiem bien so" class="inputbienso">
                <i class="fa fa-caret-square-o-down" style="margin-right: 35px; font-size: 40px; margin-top: 5.2px; transform: scale(0.9 ,0.9);"></i> 
                <i class="fab fa-facebook-square" style="font-size: 25px; margin-right: 5px; bottom: 5px"></i>
                <i class="fas fa-phone-alt" style="font-size: 25px; bottom: 5px"></i>
            </div>
            <div class="container" id="getvehicle">
                {% for driver in data %}
                <div class="table">
                    <img src="../static/images/Vector.png">
                    <span>{{ driver.ViTri }}</span>
                    <p class="same"><b>{{ driver.Bienso }}</b></p>
                    <p class="same">{{ driver.ThoiGian }}</p>
                    <br>
                    <p class="sam1" style="padding-left: 10px; padding-right: 12px"><b>Dong co: {{ driver.NoMay }}</b></p>
                    <p class="sam1" style="padding-left: 15px">{{ driver.ThoiGianDung }}</p>
                    <p class="sam1" style="padding-left: 25px">Lai xe:{{ driver.Tenlaixe }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="footer">
            <span style="margin-left: 30px; font-size: 10px">© 2021 hocsinh.toado.vn</span>
            <span style="margin-left: 450px; color: green;">Smart School Management System</span>
        </div>
        <script>
            var n;
            const json = JSON.parse('{{ data|escapejs }}'.replace(/'/g, '"'))
            let driver1 = Object.values(json[0]);
            let driver2 = Object.values(json[1]);
            let driver3 = Object.values(json[2]);
            let driver4 = Object.values(json[3]);
            let driver5 = Object.values(json[4]);
            let driver6 = Object.values(json[5]);
            let driver7 = Object.values(json[6]);
            let driver8 = Object.values(json[7]);
            let driver9 = Object.values(json[8]);
            let driver10 = Object.values(json[9]);
            let driver11 = Object.values(json[10]);
            let driver12 = Object.values(json[11]);
            let driver13 = Object.values(json[12]);
            let driver14 = Object.values(json[13]);
            let driver15 = Object.values(json[14]);
            let driver16 = Object.values(json[15]);
            let driver17 = Object.values(json[16]);
            let driver18 = Object.values(json[17]);
            let driver19 = Object.values(json[18]);
            let driver20 = Object.values(json[19]);
            let driver21 = Object.values(json[20]);
            let driver22 = Object.values(json[21]);
            let driver23 = Object.values(json[22]);
        </script>
        </div>
        <div id="map" style="width: 100%; height: 100vh; z-index: 0; position: fixed; left: 0; top: 0;">
        </div>
        <script type="text/javascript" src="../static/scripts/indexx.js">
        </script>
        
        <script>   
            function doRefresh(){
                $('#getvehicle').load("{%  url 'getTable' %}");
            }
            $(function(){
                setInterval(doRefresh, 15000);
            });

        </script>

    </body>
</html>