
{% block content %}
{% for driver in data %}
                <div class="table">
                    <img src="../static/images/Vector.png">
                    <span>{{ driver.ViTri }}</span>
                    <p class="same"><b>{{ driver.Bienso }}</b></p>
                    <p class="same">{{ driver.ThoiGian }}</p>
                    <br>
                    <p class="sam1" style="padding-left: 10px; padding-right: 12px"><b>Dong co: {{ driver.NoMay }}</b></p>
                    <p class="sam1" style="padding-left: 15px">{{ driver.ThoiGianDung }}</p>
                    <p class="sam1" style="padding-left: 25px">Lai xe:{{ driver.Tenlaixe }}</p>
                </div>
                    <input id="getlat" value="{{ driver.LAT }}" style="display: none" type="text">
                    <input id="getlng" value="{{ driver.LONG }}" style="display: none" type="text">
                    <input id="getdirection" value="{{ driver.Huong }}" style="display:none" type="text">
                {% endfor %}

{% endblock content %}